<div class="container-fluid celebrities">
    <div class="row">
        <div class="col-6 pt-5 pl-5">
            <h2>Name: {{celeb.name}}</h2>

            <h4>Occupation: {{celeb.occupation}}</h4>

            <h5>Catchphrase: {{celeb.catchPhrase}}</h5>
        </div>
    </div>
</div>